* {box-sizing: border-box;}
#list {padding:10px;
    list-style-type: none;
    color: black;
    font-size: 15px;
     /* I don't know why text-dec do not work. Target the link*/
    }
    a {text-decoration: none;
    color: black;
    font-size: 18px;}
    a:hover {color:blue;
    }
.container1 {margin:10px auto;
border:2px solid black;
width:600px;
text-align: center;
background-color: lightgreen;}
.img1{height: 160px ;
    margin: auto;
    border: 2px black solid;
}
.img2{height:160px;
    margin: auto;
    border: 2px black solid;}
.img3 {
    height: 223px;
    margin: auto;
    border: 2px black solid;
}

.container2{margin:0 auto;
width:600px;
border:2px solid black;
display: flex;
flex-direction: column;
align-items: center;
gap:10px;
padding: 10px;
background-color: lightgreen;
}