#list {padding:10px;
    list-style-type: none;
    color: black;
    font-size: 15px;
    text-decoration: none; /* I don't know why text-dec do not work*/
    }
.container1 {margin:10px auto;
border:2px solid black;
width:600px;
text-align: center;}
.img1{height: 170px ;
    margin: auto;
}
.img2{height:170px;
    margin: auto;}
.img3 {
    height: 233px;
    margin: auto;
}
/*What's the thing with how <a> and <img> interact. 
More precisely I can't figure out how to dimension properly my images. And why the dimensions of images changes when I put them in <a>*/
.container2{margin:0 auto;
width:400px;
border:2px solid red;
display: flex;
flex-direction: column;
gap:10px;
padding: 10px;

}